body {
    font-family: roboto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

#features, #how, #pricing {
    margin: 100px 0;
}


/* All header styling */
header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
}

#header-img {
    color: #DAA520;
    max-width: 300px;
    max-height: 600px;
    display: inline;
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px; 
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


/*All main body styling*/

main {
    flex: 1;
    width: 100%;
    position: absolute;
    top: 10%;
}


/*Styling for form section*/
#form-section {
    text-align: center;
}

#form-header {
    font-family: 'Montserrat', sans-serif;
    color: #DAA520;
}

#form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px auto;
    align-items: center;
}

#form label {
    font-weight: bold;
    margin-bottom: 5px;
}


#input-email {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

#submit {
    width: 60px;
    padding: 10px;
    background-color: #DAA520; 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    cursor: pointer;
}

/*Features sections styling*/ 
#features {
    text-align: left;
    margin: 0 15%;
}
.text{
    display: inline;
    font-size: large;
    margin-left: 20px;
}

.text h1{
    display: inline;
    font-size: 32px;
}
#icon {
    padding: 10px 0;
    color: #DAA520;
    font-size: 36px;
}

#how {
    text-align: center;
}

/*Footer Styling*/

footer {
    padding: 10px;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: 10%;
    position: static;
    width: 80%;
    height: 5%;
    background-color: #eee;
    text-align: right;
}

#footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#link-list {
    margin-left: 20px; 
    padding: 10px;
    display: inline;
}

#link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/*Styling the pricing section*/
#pricing {
    display: flex;
    justify-content: center;
}

#first-card, #sec-card, #third-card{
    margin: 10px 30px;
    min-width: 300px;
    height: 350px;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
}

#card-title {
    position: relative;
    top: 0;
    left: 0;
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #DAA520;
    color: #000;
    font-weight: bold;
}

#price {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: italic;
    margin: 20px 100px;
    font-weight: 100;
    
}

#list {
    padding: 5px;
    font-size: 20px;
    list-style: none;
    margin: 0 40px;
}

#select-button {
    margin: 20px 100px;
    color: #fff;
    background-color: #DAA520;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 50px;
}